@charset "UTF-8";
@import "../layui/css/layui.css";
.login-bg{
  height: 100%;
}

.login-bg from.layui-form{
  padding: 20px;
  width: 350px;
  height: 335px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -150px 0 0 -175px;
}
.layui-form-item .readme{
  margin: 20px 0 0 20px;
  width: 80px;
}

.login-bg from.layui-form .user-type{
  width: 40px;
}